// レイアウト幅
$layout-width-inner: 1150px;

// ブレークポイント
$breakpoints: (
  'sp': 'screen and (max-width: 767px)',
  'tab': 'screen and (max-width: #{$layout-width-inner - 1px})',
  'pc': 'screen and (min-width: #{$layout-width-inner})',
);

//画像格納ディレクトリ
$imgDir: '../img/dist';

//色
$base-color: rgba(47, 135, 191, 1);
$emp-color: #e79c2a;
$header-color: rgba(50, 50, 50, 1);
$mv-color: rgba(50, 50, 50, 0.3);
$header-color: #6a4e77;

//フォント
$ff-yuGo: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', HelveticaNeue, YuGothic, 'Yu Gothic Medium', 'Yu Gothic', Verdana, Meiryo,
  sans-serif;
